<div class="cardCluster row">
  <div class="movie-card card" style="width: 11.5rem" *ngFor="let movie of movieList">
    <img src="{{movie.poster_path | image}}" class="image-size-card card-img-top" alt="{{movie.title}}">
    <div class="card-body">
      <h5 class="card-title">{{movie.title}}</h5>
      <p class="card-text align-self-end" ngbTooltip="{{movie.overview}}"
         tooltipClass="my-custom-class">{{movie.overview}}</p>
      <a>
        <button type="button" class="btn btn-secondary">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill"
               viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
          </svg>
        </button>
      </a>
      <div>
      </div>
    </div>
  </div>
</div>
