<div class="cardCluster row">
  <div *ngFor="let movie of movieList" class="movie-card card" style="width: 11.5rem">
    <img alt="{{movie.title}}" class="image-size-card card-img-top" src="{{movie.poster_path | image}}">
    <div class="card-body">
      <h5 class="card-title">{{movie.title}}</h5>
      <p class="card-text align-self-end" ngbTooltip="{{movie.overview}}"
         tooltipClass="tooltip">{{movie.overview}}</p>
      <a>
        <button (click)="toggleLike(movie)" class="btn btn-secondary" type="button">
          <i *ngIf="isFavourite(movie) == true" class="bi bi-heart-fill"></i>
          <i *ngIf="isFavourite(movie) == false" class="bi bi-heart"></i>
        </button>
      </a>
    </div>
  </div>
</div>
