@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
  margin-bottom: 20px;
  background-color: #212529;
  font-size: 1.2rem;
}

p {
  color: white;
}

a {
  color: #212529;
}

a:hover {
  color: #212529;
  text-decoration: none;
}

.card-table {
  overflow-x: auto;
  white-space: nowrap;
  color: white;
  margin-left: 25px;
  margin-right: 25px;
}

.form-control:focus {
  border-color: white !important;
  box-shadow: inset 0 0 0 white, 0 0 0 white !important;
  background-color: white;
}

.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:active:focus {
  background-color: lightgrey !important;
}

h4 {
  color: white;
  margin-left: 25px;
  margin-top: 20px;
  margin-bottom: 0;
}

.card {
  background-color: #212529;
  color: white;
  margin-left: 20px;
  margin-bottom: 10px;
}


.image-size-card {
  min-width: 182px;
  min-height: 273px;
  max-width: 182px;
  max-height: 273px;
}

.image-size-card-home {
  min-width: 222px;
  min-height: 333px;
  max-width: 222px;
  max-height: 333px;
}

.movie-card {
  display: inline-block;
  margin-top: 20px;
}

.navbar-brand {
  font-size: 1.8rem;
}

.nav-tabs {
  line-height: 3;
}

.nav-link {
  line-height: 3;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.0rem;
  padding-left: 1.0rem;
}

.tooltip {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 40;
  -webkit-box-orient: vertical;
}

.row {
  margin: 0 35px;
}

.card-table::-webkit-scrollbar {
  background-color: transparent;
  overflow-y: scroll;
  height: 10px;
  width: max-content;
}

.card-title {
  min-height: 40px;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.card-text {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  min-height: 110px;
  white-space: normal;
  font-style: normal;
}

.card-title:hover,
.movie-title {
  display: block;
  color: white;
  white-space: normal;
}

.movie-title {
  min-height: 50px;
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}

.card-table::-webkit-scrollbar-track {
  display: none;
}

.card-table::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px darkgrey;
}










