/* You can add global styles to this file, and also import other style files */

.btn-outline-success {
  color: white;
  border-color: white;
}

a {
  color: #212529;
}

.card-title {
  min-height: 45px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  min-height: 110px;
}

.movie-card {
  display: inline-block;
  margin-left: 24px;
  margin-top: 24px;
}

.card {
  background-color: #212529;
  color: white;
}


body {
  margin-bottom: 30px;
  background-color: #212529;
}

.btn:hover {
  background: white;
  color: #212529;
}

.container {
  margin-top: 30px;
}

.nav-tabs {
  line-height: 3;
}

.nav-link {
  line-height: 3;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.0rem;
  padding-left: 1.0rem;
}

.navbar-brand {
  font-size: 1.8rem;
}


body {
  font-size: 1.2rem;
}

a:hover {
  color: #212529;
  text-decoration: none;
}







