/* You can add global styles to this file, and also import other style files */

.btn-outline-success{
  color: white;
  border-color: white;
}

.card{
  background-color: #212529;
  color: white;
}

body {
  margin-bottom: 30px;
  background-color: #212529;
}

.btn:hover {
  background: white;
  color: #212529;
}

.container{
  margin-top: 30px;
}





