<div class="container-fluid navigationApp">
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink href="/home">Home</a>
      <ng-template ngbNavContent></ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Meine Liste</a>
      <ng-template ngbNavContent href=""></ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Alle Filme</a>
      <ng-template ngbNavContent href=""></ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Action</a>
      <ng-template ngbNavContent href=""></ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Komödien</a>
      <ng-template ngbNavContent href=""></ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Horror</a>
      <ng-template ngbNavContent href=""></ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>

<router-outlet></router-outlet>


