<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']">MovieWorld</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse show navbar-responsive-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/favorites']">Favoriten</a>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown"
             aria-expanded="false" ngbDropdownToggle>
            Genres
          </a>
          <!-- TODO: add active class if genres are shown -->
          <ul class="dropdown-menu" routerLinkActive="active" ngbDropdownMenu aria-labelledby="navbarScrollingDropdown">
            <li ngbDropdownItem class="dropdown-item" role="button" [routerLink]="['/genre']" [queryParams]="{id: genre.id}"
                *ngFor="let genre of genres">
              {{genre.name}}
            </li>
          </ul>
        </li>
      </ul>
      <form class=".ml-auto form-inline my-2 my-lg-0">
        <input name="query" class=".ml-auto form-control mr-sm-2" type="search" placeholder="Suchen"
               aria-label="Search" [(ngModel)]="query" (keyup)="search(query)">
      </form>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>


