<div class="card-table">
  <table>
    <tr>
      <th>
        <div class="movie-card card" style="width: 14rem" *ngFor="let movie of movieList">
          <img src="{{movie.poster_path | image}}" class="card-img-top image-size-card-home" alt="{{movie.title}}">
          <div class="card-body">
            <h5 class="movie-title" ngbTooltip="{{movie.title}}">{{movie.title}}</h5>
            <div>
              <button type="button" class="btn btn-secondary" (click)="toggleLike(movie)">
                <i *ngIf="isFavourite(movie) == true" class="bi bi-heart-fill"></i>
                <i *ngIf="isFavourite(movie) == false" class="bi bi-heart"></i>
              </button>
            </div>
          </div>
        </div>
      </th>
    </tr>
  </table>
</div>
